.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6f6;
}

.contact .info {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.contact .info .label {
  font-size: 40px;
  font-weight: 800;
  color: #2c4755;
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .info .link {
  display: block;
  font-size: 40px;
  font-weight: 800px;
  color: #10cab7;
  text-decoration: none;
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
}

.contact .info .social .socila_icons {
  margin-left: 10px;
  color: #2c4755;
}

@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
